@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-box-shadow: #b8b9be;
    --color-box-shadow-dark1: #4e4e4e;
    --color-box-shadow-dark2: #6a6a6a;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}
/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

@layer base {
    :root {
        --color-bg: #e6e7ee;
        --color-bg-dark: #5c5c5c;

        /* ... */
    }
}

.shadow-soft {
    box-shadow: 6px 6px 12px var(--color-box-shadow), -6px -6px 12px #fff !important;
}
.shadow-inset {
    box-shadow: inset 2px 2px 5px var(--color-box-shadow),
        inset -3px -3px 7px #fff !important;
}
.shadow-soft-orange {
    box-shadow: 6px 6px 12px #d8b791, -6px -6px 12px #fff7c4;
}
.shadow-soft-lime {
    box-shadow: 6px 6px 12px #b8d485, -6px -6px 12px #faffb5;
}
.shadow-soft-cyan {
    box-shadow: 6px 6px 12px #8ccfd6, -6px -6px 12px #beffff;
}

.shadow-soft-dark {
    box-shadow: 6px 6px 12px var(--color-box-shadow-dark1),
        -6px -6px 12px var(--color-box-shadow-dark2) !important;
}
.shadow-inset-dark {
    box-shadow: inset 2px 2px 5px var(--color-box-shadow-dark1),
        inset -3px -3px 7px var(--color-box-shadow-dark2) !important;
}

.hero-gradient {
    background: linear-gradient(241deg, #972297, #4698d0, #61a831);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 43% 0%;
    }
    50% {
        background-position: 58% 100%;
    }
    100% {
        background-position: 43% 0%;
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 43% 0%;
    }
    50% {
        background-position: 58% 100%;
    }
    100% {
        background-position: 43% 0%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 43% 0%;
    }
    50% {
        background-position: 58% 100%;
    }
    100% {
        background-position: 43% 0%;
    }
}
